.itemDetail {
    display: flex;
    align-items: flex-start;
    padding: 20px;
    background-color: #FFF8E5;
    border: 2px solid #FFD15C;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.itemDetailImg {
    width: 400px;
    height: auto;
    margin-right: 20px;
}

.itemDetailName {
    margin-top: 0;
    font-size: 1.5rem;
    color: #333;
}

.itemDetailDescription {
    max-width: 500px;
}

.itemDetailPrice {
    font-size: 1.2rem;
    font-weight: bold;
    color: #FFD15C;
}

.itemDetailContent {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.itemDetailLink,
.itemDetail .counter-container {
    align-self: flex-start;
}

.itemDetailLink {
    display: inline-block;
    padding: 10px 20px;
    color: #FFF;
    background-color: #FFD15C;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-size: 1rem;
}

.itemDetailLink:hover {
    background-color: #FFA500;
}

.low-stock-message {
    color: red;
    font-weight: bold;
}

